<section class="charts">
    <canvas id="smoothie-chart-cpu" width="1100" height="300"></canvas><h2>Cpu</h2>
    <canvas id="smoothie-chart-ram" width="1100" height="300"></canvas><h2>Ram</h2>
    <canvas id="smoothie-chart-disk" width="1100" height="300"></canvas><h2>Disk</h2>
</section>
<script type="text/javascript" src="../../Scripts/chart.js"></script>